# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env
.env.*

# =========================
# Node / React
# =========================

node_modules/
dist/
build/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Database
# =========================

*.db
*.sqlite3

# =========================
# Secrets / Keys
# =========================

*.pem
*.key

# =========================
# Coverage / Testing
# =========================

.coverage
htmlcov/
.pytest_cache/

# =========================
# Temporary
# =========================

temp/
tmp/